<video muted autoplay="" loop="" class="fullscreen-bg__video" data-wow-delay="0.5s" id="video-background">
    <source src="/assets/bike.mp4" type="video/mp4">
</video>
<section class="bg-primary" id="one">
 <div class="container">
   <div class="row">
     <div class="hero-text col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">

       <p class="text-faded">
         <!-- <p class="epigenetics"> -->
         Scientists have long assumed that individual memories and learned experiences built up during a lifetime could only be passed on by teaching later generations or later generations having their own similar personal experience.
         However, new research has shown that it is possible for information from individual experiences to be inherited biologically through chemical changes that occur in DNA.  This is the study of Epigenetics.
         Memories can be passed down to later generations through genetic switches that allow offspring to inherit the experience of their ancestors, according to new research that may explain how phobias can develop."
         An experiment at Emory University School of Medicine, in Atlanta, showed that mice passed on learned information about traumatic or stressful experiences – in this case a fear of the smell of cherry blossom after being repeatedly shocked at the sight of one – to subsequent generations who weren't subjected to those experiments.
         The results may help to explain why people suffer from seemingly irrational phobias –- as it may be based on the inherited experiences of their ancestors.
       </p><br><br>
     </div>
   </div>
 </div>
</section>
